:root {
    --primary-color: #f5ead1;
    --secondary-color: #41867f;
    --accent-color-1: #313131;
    --accent-color-2: #df3831;
    --accent-color-3: #f4a428;
}
body {
    background-color: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;;
    color: var(--accent-color-1);
    margin: 0;
    padding: 0;
    
}
h1, h2 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    color: var(--accent-color-2);
    text-align: center;
}
header {
    background-color: var(--secondary-color);
    padding: 20px;
    text-align: center;
}
footer {
    text-decoration: none;
}
.hero {
    position: relative;
    text-align: center;
}
article {
    position: absolute;
    background-color: var(--accent-color-3);
    padding: 20px;
    bottom: 20%;
    left: 10%;
    right: 10%;
}
.hero img {
    display: block;
    height: auto;
}
article img {
    float: right;
    width: 100px;
    height: auto;
    margin-left: 20px;
}
h1 {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #313131;
    padding: 10px 20px;
    border-radius: 5px;
}